<h1>Hello, World!</h1>
<p>I think I like Ruby on Rails more than plain old node.js :)</p>
<a href="/home/page1"><p>Next Page</p></a>
<p><a href="/fav_colors"><b>CRUD!</b></a> (Create Read Update Destroy)</p>